<a
    class="logo"
    routerLink="/">
    <svg-icon src="assets/svg/logo.svg" />
</a>

<div class="right-side">
    <ul>
        <li>
            <a 
                routerLink="/map"
                routerLinkActive="active">
                Map
            </a>
        </li>
        <li>
            <a 
                routerLink="/pulses"
                routerLinkActive="active">
                Pulses
            </a>
        </li>
        <li>
            <a 
                routerLink="/login"
                routerLinkActive="active">
                Sign In
            </a>
        </li>
    </ul>

    <app-primary-button>
        Download App
    </app-primary-button>
</div>
