@if (label) {
    <label [for]="id">
        {{ label }}
    </label>
}
@if (svg) {
    <div class="svg">
        <svg-icon [src]="'assets/svg/' + svg + '.svg'"></svg-icon>
    </div>
}
<input
    [attr.id]="id"
    [attr.name]="name"
    class="app-ui-input"
    [class.app-ui-input--error]="hasErrorClass"
    [class.app-ui-input--focus]="isOnFocus"
    [class.app-ui-input--password]="inputType === 'password'"
    [attr.autocomplete]="autocomplete"
    [(ngModel)]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [required]="required"
    [type]="inputType === 'password' ? isPasswordVisible ? 'text' : 'password' : inputType"
    (focus)="emitFocus.emit(); isOnFocus = true"
    (blur)="emitBlur.emit(); isOnFocus = false"
    (emitAutofill)="onAutoFill($event)"
    (input)="onInput.emit($event)"
    #inputRef
    appInputAutofill />

@if (isLoading) {
    <app-spinner></app-spinner>
}