<div class="top">
    <div class="logo">
        <div class="budge">TOP</div>
        <img 
            [src]="pulse.icon" 
            alt="trump" 
            appLoadImgPath>
    </div>
    <div class="stats">
        <div>
            <span class="title">Pulses</span>
            <svg-icon src="assets/svg/pulse.svg" />
            <span class="count">3</span>
        </div>
        <div>
            <span class="title">Fans</span>
            <svg-icon src="assets/svg/fans.svg" />
            <span class="count">5235</span>
        </div>
        <div>
            <span class="title">Last 24 h</span>
            <svg-icon src="assets/svg/heatmap.svg" />
            <span class="count">2</span>
        </div>
    </div>
</div>

<div class="bottom">
    <h3>{{ pulse.description }}</h3>
    <div>
        <svg-icon src="assets/svg/author.svg" />
        {{ pulse.title }}
    </div>
</div>