<div class="wrap">
    <h1>Terms of Use</h1>
    <small>Last Updated: October 1, 2024</small>

    <h2>Welcome to Go-Pulse!</h2>

    <p>Welcome to Go-Pulse! These Terms of Use ("Terms") govern your use of the Go-Pulse mobile application and any related services ("Service") provided by Fwollo LLC ("Company," "we," "us," or "our"). By downloading, accessing, or using Go-Pulse, you agree to be bound by these Terms. If you do not agree to these Terms, you must not use the Service.</p>

    <h2>1. Eligibility</h2>
    <p>You must be at least 13 years old to use Go-Pulse. By using the Service, you represent and warrant that you are of legal age to form a binding contract with us and meet all the eligibility requirements.</p>

    <h2>2. License and Use of Service</h2>
    <p>We grant you a non-exclusive, non-transferable, revocable license to access and use the Service for your personal, non-commercial use. You agree to use Go-Pulse only for lawful purposes and in accordance with these Terms.</p>

    <h2>3. Account Creation and Authentication</h2>
    <p>To access certain features of Go-Pulse, you may need to create an account using an email address, Apple login, or Google login. To vote or "pulse" on topics, we may require you to provide your phone number for verification, and we will send a verification code to authenticate your identity. We do not sell or share your phone number or email address with third parties.</p>

    <h2>4. User Conduct</h2>
    <p>You agree not to use Go-Pulse to engage in any unlawful activities, spam, or post abusive, harmful, or otherwise inappropriate content. We reserve the right to suspend or terminate your account for any behavior that violates these Terms.</p>

    <h2>5. User Content</h2>
    <p>By submitting, posting, or displaying any content via Go-Pulse, you grant Fwollo LLC a worldwide, non-exclusive, royalty-free license to use, copy, modify, and display such content in connection with the operation of the Service. You retain ownership of any intellectual property rights that you hold in the content.</p>

    <h2>6. Informal Nature of Pulse Results</h2>
    <p>Go-Pulse provides an informal way to gauge users' feelings about various topics through anonymous voting or pulsing. The results displayed in Go-Pulse are not official votes in any capacity and should not be interpreted as such. These results are purely indicative of the collective interest or sentiment of our users regarding specific topics.</p>

    <h2>7. Intellectual Property Rights</h2>
    <p>Go-Pulse and all content within it, including but not limited to software, design, logos, text, and graphics, are the property of Fwollo LLC or its licensors. You are not granted any rights to use our intellectual property other than as expressly permitted in these Terms.</p>

    <h2>8. Privacy</h2>
    <p>Your use of Go-Pulse is subject to our  <a routerLink="/privacy-policy" routerLinkActive="privacy-policy">
        Privacy Policy
    </a>. Please review the Privacy Policy to understand how we collect, use, and share your information.</p>

    <h2>9. Limitation of Liability</h2>
    <p>To the fullest extent permitted by applicable law, Fwollo LLC and its affiliates, officers, directors, employees, and agents shall not be liable for any indirect, incidental, special, or consequential damages, including but not limited to data loss, resulting from your use of Go-Pulse or any content therein. Our total liability for any claim related to the use of Go-Pulse shall not exceed the amount you paid to use the Service, if any.</p>

    <h2>10. Arbitration Agreement</h2>
    <p>In the event of any dispute arising out of or relating to these Terms or your use of Go-Pulse, you agree to resolve any such dispute through binding arbitration rather than in court. This provision applies to all disputes, including but not limited to contract, tort, and statutory claims. Any arbitration will be conducted by the American Arbitration Association (AAA) under its rules. You waive any right to a jury trial or to participate in a class action lawsuit.</p>

    <h2>11. Termination</h2>
    <p>We may terminate or suspend your account or access to the Service at any time, with or without notice, for conduct that we believe violates these Terms or is harmful to other users or the Company.</p>

    <h2>12. Modifications to the Terms</h2>
    <p>Fwollo LLC reserves the right to modify or revise these Terms at any time. We will provide notice of significant changes, and your continued use of Go-Pulse following any changes constitutes your acceptance of the new Terms.</p>

    <h2>13. Governing Law</h2>
    <p>These Terms are governed by the laws of the Commonwealth of Pennsylvania, without regard to its conflict of law provisions. Any legal action or proceeding related to your use of Go-Pulse must be brought exclusively in the state or federal courts located in Pennsylvania.</p>

    <h2>14. Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at:</p>
    <p>
        Fwollo LLC<br>
        Email: <a href="mailto:contact@fwollo.com">contact&#x40;fwollo.com</a>
    </p>

</div>