<form
    [formGroup]="topicForm">
    <div class="wrap-inputs">
        <div class="icon-group">
            <label for="icon">Icon</label>

            <div class="iconAll custom-icon__wrap">
                <input
                    id="icon"
                    name="icon"
                    #customIcon
                    type="file"
                    accept=".jpg, .png, .jpeg"
                    (change)="onFileSelected($event)">
            
                <div class="custom-icon">
                    <img
                        *ngIf="topicForm.get('icon')?.value"
                        [src]="topicForm.get('icon')?.value"
                        alt="Selected Image">
                    <img
                        *ngIf="!topicForm.get('icon')?.value"
                        src="assets/svg/plus.svg"
                        alt="plus">
                </div>
            </div>

            <span class="icon-placeholder">This is what will be seen on the map</span>


        </div>
        
        <div class="group">
            <label for="headline">Headline</label>
            <input
                autocomplete="headline"
                tabindex="2"
                type="text" required
                placeholder="Add header text"
                id="headline" name="headline"
                formControlName="headline">
        </div>
    
        <div class="group">
            <label for="description">Description</label>
            <textarea
                name="description"
                placeholder="This is what will be seen when one clicks on the pulse"
                formControlName="description"
                tabindex="3">
            </textarea>
        </div>

        <div class="group">
            <app-select 
                label="Category"
                id="select"
                [options]="topicsForForm" 
                [info]="getCurrentTopicInfo()"
                formControlName="category"/>
        </div>
    
        <div class="group">
            <label for="keywords">Keywords</label>
            <input
                tabindex="4"
                type="text" required
                placeholder="Add up to 5 keywords"
                id="keywords" name="keywords"
                formControlName="keywords">
        </div>
    
    </div>

    <app-primary-button
        (handleClick)="onNextButtonClick()">
        Next
    </app-primary-button>
    
</form>





