:host {
    display: flex;
    justify-content: center;
    position: relative;
}

.map-container {
    height: 700px;
    max-width: 1170px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    cursor: grab;
    margin-top: 30px;
}

::ng-deep .mapboxgl-control-container {
    display: none;
}

::ng-deep .mapboxgl-marker {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: 1px solid #fff;

    background-color: #fff;
    box-shadow: 0px 4px 20px 0px #0000004D;

    cursor: pointer;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 4px 20px 0px #00000072;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.extend {
    position: absolute;
    right: 30px;
    bottom: 30px;

    transition: all .2s;

    svg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    cursor: pointer;

    &:hover {
        transform: scale(1.5);
    }
}

:host.full-map {
    .extend {
        display: none;
    }
}

.debugger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    // pointer-events: none;

    padding: 15px;

    background-color: #13142098;
    border-radius: 10px;

    color: white;

    transition: all .3s;

    z-index: 1;

    ::ng-deep {
        .primary-button {
            padding: 5px 22px;
        }

        input {
            padding: 3px 10px;
            width: 64px;
            text-align: center;
        }
    }

    &.hidden {
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        border-bottom: 1px solid #13142098;
        padding-bottom: 5px;

        span:last-child {
            font-weight: 600;
        }
    }

}

.hide {
    display: flex;
    justify-content: center !important;
    align-items: center;

    position: absolute;
    top: -50px;
    right: 0px;
    background-color: #13142098;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0 !important;

    cursor: pointer;
}