<mgl-map
    class="map-container"
    [style]="mapboxStylesUrl"
    [center]="center"
    [interactive]="true"
    [zoom]="[2.8]"
    [minZoom]="2.8"
    (load)="onMapLoad($event)"
    (zoomEnd)="handleZoomEnd()"
    (moveEnd)="handleMoveEnd()">
    <!-- <mgl-layer 
        id="heatmap-layer" 
        type="heatmap" 
        [source]="{
            type: 'geojson',
            data: heatmapData
        }" 
        [paint]="{
            'heatmap-weight': 0.5,
            'heatmap-intensity': 1,
            'heatmap-radius': 20,
            'heatmap-opacity': 0.7
        }">
    </mgl-layer> -->

    @for (marker of markers; track marker.h3Index) {
        <mgl-marker [lngLat]="[marker.lng, marker.lat]">
            <img
                [src]="marker.icon"
                alt="icon" 
                appLoadImgPath/>
        </mgl-marker>
    }
</mgl-map>

<div
    class="extend"
    routerLink="/map">
    <svg-icon src="assets/svg/extend.svg" />
</div>