body {
    --accent-color: #5E00CC;
    --blue-color: #00A7DC;
    --dark-grey-color: #8386A5;
    --black-color: #131420; 
    --light-grey-color: #E6E7ED;
    --light-color: #F5F5F8;
    --white-color: #fff;
    --accent-color-hover: rgb(from var(--accent-color) r g b / .9);
    --active-accent-color: #6000c0;
    --white-color-hover: #fbfbfb;
    --active-white-color: #f2f2f2;
    --white-popup: #FAF5FE;
}   