@import url('./_reset.scss');
@import url('./_fonts.scss');
@import url('./_variables.scss');
@import 'mapbox-gl/dist/mapbox-gl.css';

body {
    font-family: 'SFProText', sans-serif;
    padding: 30px 35px;
    color: var(--black-color);
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    font-family: 'SFProText', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

@mixin title-32px-black {
    //styleName: Title 32px;
    font-family: SF Pro Text;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.19px;
    text-align: center;
    color: var(--black-color);
}

@mixin link-16px-black {
    //styleName: Link 16px;
    font-family: SF Pro Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    text-align: left;
    color: var(--black-color);
}

@mixin link-16px-white {
    //styleName: Link 16px;
    font-family: SF Pro Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    text-align: left;
    color: var(--white-color);
}


/** Ripple
======================== */
.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple-anim {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: rippleEffect 5s ease-in-out;
    pointer-events: none;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(var(--scale));
    }
}

/** END Ripple
======================== */