@import url('./_reset.scss');
@import url('./_fonts.scss');
@import url('./_variables.scss');
@import url('./_materials.scss');
@import url('./animations/index.scss');
@import 'mapbox-gl/dist/mapbox-gl.css';

body {
    font-family: 'SFProText', sans-serif;
    // padding: 30px 35px;
    color: var(--black-color);
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    font-family: 'SFProText', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}
