

<div class="logo">
    
        <svg-icon [src]="'assets/svg/logo/logo-hexagon.svg'" id="hexagon"></svg-icon>

        <div class="icons-wrap">

            <div id="icons">
                <svg-icon [src]="'assets/svg/logo/logo1.svg'" id="block1" class="icon"></svg-icon>
                <svg-icon [src]="'assets/svg/logo/logo2.svg'" id="block2" class="icon"></svg-icon>
            </div>

        </div>
   
</div>

<div class="name">
    <svg-icon [src]="'assets/svg/logo/go-pulse.svg'"></svg-icon>
</div>