@use '../../../../../styles/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 48px 0px;
    gap: 24px;
}

h1 {
    @include title-32px;
}