
<footer>

    <a class="logo" routerLink="/">
        <svg-icon src="assets/svg/logo.svg" />
    </a>
    
    <div class="right-side">
        <ul>
            <li>
                <a routerLink="/terms-of-use" routerLinkActive="terms-of-use">
                    Terms of Use
                </a>
            </li>
            <li>
                <a routerLink="/privacy-policy" routerLinkActive="privacy-policy">
                    Privacy Policy
                </a>
            </li>
        </ul>
    </div>

</footer>
