
<footer>
    <a class="logo" routerLink="/">
        <svg-icon src="assets/svg/logo.svg" />
    </a>
    
    <div class="right-side">
        <ul>
            <li>
                <a [routerLink]="'/' + CommunityRoutes.TERMS" [routerLinkActive]="CommunityRoutes.TERMS">
                    Terms of Use
                </a>
            </li>
            <li>
                <a [routerLink]="'/' + CommunityRoutes.PRIVACY" [routerLinkActive]="CommunityRoutes.PRIVACY">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a [routerLink]="'/'+ CommunityRoutes.SUPPORT" [routerLinkActive]="CommunityRoutes.SUPPORT">
                    Support
                </a>
            </li>
        </ul>
    </div>

    <div class="version">
        {{ version.major }}.{{ version.minor }}.{{ version.patch }}
    </div>
</footer>
