@use '../../../../../styles/mixins' as *;


:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

h1 {
    @include title-32px;
}

h2 {
    @include title-20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}

.pulse {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border: 1px solid #E6E7ED;
    background-color: #FFFFFF;
    padding: 52px 50px;
    min-height: 762px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}