@use '../../../../../../../styles/mixins' as *;

:host {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}
img {
    align-self: flex-start;

}

h1 {
    @include title-32px;
}

p {
    @include text-16px;
}

.text  {
    align-self: center;
    display: flex;
    flex-direction: column;
    transition: all .4s linear;
    max-width: 500px;


    p {
        margin-top: 16px;
        padding: 0;
    } 
    
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    p {
        margin: 0;
        padding: 0;
    }
}

.wrapper.is-open {
    grid-template-rows: 1fr;

    p {
        margin-top: 16px;
    }
}

.inner {
    overflow: hidden;
}

button {
    @include link-16px;
    color: var(--accent-color);
    padding: 0;
    width: fit-content;
    cursor: pointer;
    margin-top: 16px;
    
}

@media screen and (max-width: 1080px) {
    :host {
        justify-content: center;
        
    }

    h1,p {
        text-align: center;
    }

    button {
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        @include title-20px;
    }

    p {
        @include text-14px;
    }

    button {
        @include link-14px;
    }

    :host {
        justify-content: center;
        
    }
    h1,p {
        text-align: left;
    }

    button {
        align-self: flex-start;
    }
}

@media screen and (max-width: 500px) {

    img {
        width: 100%;
    }
}



